{% extends "base.html" %}
{% load static %}

{% block title %}Map {% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<style>
    

</style>


{% endblock %}



{% block content %}

<div class="row">
    <div class="col-md-4 col-sm-12 mt-5 p-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Concepto</th>
            <th scope="col">Dato</th>
            
          </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
          <tr>
            <th scope="row"></th>
            <td>País</td>
            <td>{{ track.country }}</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td>CCAA</td>
            <td>{{ track.autonomous_community }}</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Localidad</td>
            <td>{{ track.location }}</td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>Tipo escalada</td>
            <td></td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>Dificultad</td>
            <td>{{ track.difficulty }}</td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>Descripción</td>
            <td>{{ track.short_description }}</td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>Localizar en mapa</td>
            <td><a target=”_blank” href="https://maps.google.com/?ll={{ track.longitud }},{{ track.latitude }}&z=18&t=p">localizar</a></td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
    </div>



    <div class="col-md-7 col-sm-12 mt-5 p-5">
      
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          {% for image in images %}
          {{ image.image_imageTrack }}
          
              <div class="carousel-item active pt-5">
                <!--<img class="w-100" src="/static/img/track/1/aiakoharria7_D8ynxTl.jpg">-->
                  <!--<img class="w-100" src="/{{ image.image_imageTrack }}">-->
                  <img src="/media/{{ image.image_imageTrack }}" style="max-width: 100%;">
                  <img src="{{ image.image_imageTrack }}" style="max-width: 100%;">
                  <img src="/{{ image.image_imageTrack }}" style="max-width: 100%;">
                  <img src="media/{{ image.image_imageTrack }}" style="max-width: 100%;">
              </div>
          {% endfor %}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>


</div>

<!--MODAL-->








{% endblock %}

{% block outbody %}
{% endblock %}